/* Global Styles*/
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F5FFF8;
}

/*Header */
.signup-header {
    text-align: center;
    margin-bottom: 20px;
}

.signup-header h1 {
    font-size: 32px;
    color: #386D44;
    margin-bottom: 5px;
}

.signup-header .tagline {
    font-size: 14px;
    color: #57A469;
}

/* Container */
.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Form Card */
.signup-form {
    background-color: #D9D9D9;
    border: none;
    padding: 30px 25px;
    border-radius: 12px;
    width: 420px;
    max-width: 420px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

/* Legend== */
fieldset legend {
    font-size: 20px;
    font-weight: bold;
    color: #386D44;
}

/* Table Layout= */
table {
    width: 100%;
}
td {
    padding: 8px 0;
}

/* Inputs */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 14px;
}

textarea {
    resize: vertical;
    max-width: 100%;
    min-height: 80px;
}

/* Radio buttons */
input[type="radio"] {
    margin-right: 6px;
}

/* Links */
a {
    text-decoration: none;
    color: #386D44;
}
a:hover {
    text-decoration: underline;
}

/* Buttons */
input.btn {
    width: 50%;
    background-color: #DEDEDE;
    color: #000;
    border: 3px solid #386D44;
    cursor: pointer;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    display: block;
    margin: 15px auto 0 auto;
    font-size: 16px;
    transition: 0.3s;
}
input.btn:hover {
    background-color: #386D44;
    color: #ffffff;
}

/* Error Messages */
.error-message {
    background-color: #F8D7DA;
    color: #ff0019;
    border: 1px solid #F5C6CB;
    padding: 10px 15px;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 14px;
    text-align: center;
}


/* Password Field with Toggle*/
.password-field {
    position: relative;
}
.password-field i {
    position: absolute;
    right: 10px;
    top: 50%;
    cursor: pointer;
    color: #555;
}
.password-field i:hover {
    color: #57A469;
}
.toggle-password {
    position: absolute;
    top: 35%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #386D44;
}
.toggle-password:hover {
    color: #57A469;
}


button.btn-back {
    background-color: #DEDEDE;
    border: 2px solid #386D44;
    color: #000000;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.3s;
    margin-top: 30px;
}

button.btn-back:hover {
    background-color: #386D44;
    color: #ffffff;
}