body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F5FFF8;
}

.page-title { text-align: center; margin: 20px 0; }
.page-title h1 { color: #386D44; }
.page-title p { color: #57A469; }

.panel {
    width: 90%;
    margin: 20px auto;
    background-color: #D9D9D9;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.panel-title { text-align: center; margin-bottom: 10px; }

table { width: 100%; border-collapse: collapse; margin-top: 10px; }
th, td { padding: 10px; text-align: center; }
th { background-color: #386D44; color: #fff; }
tr:nth-child(even) { background-color: #f0f0f0; }


.btn { 
    background-color: #DEDEDE; 
    border: 2px solid #386D44; 
    padding: 6px 12px; 
    border-radius: 6px; 
    cursor: pointer; 
    display: inline-block;     
    text-align: center;
    margin: 0 auto;   
}

.btn:hover { 
    background-color: #386D44; 
    color: #fff; 
}

.btn.small { 
    padding: 4px 8px; 
    font-size: 12px; 
}
