/* Global Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F5FFF8;
}

/* Header / Navbar */
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000; /* ensures it's above other content */
    height: 80px;
    height: 80px;
    width: 100%;
    background-color: #386D44;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
}

.nav-menu a {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}

/* Hero Section */
.hero-container {
    width: 100%;
    height: 320px;
    background-color: #D9D9D9;
    margin: 30px auto;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-container h1 {
    font-size: 40px;
    margin-bottom: 10px;
    color: #386D44;
}
.hero-subtitle {
    color: #57A469;
    font-weight: 600; /* Semi-bold */
}


.hero-container p {
    font-size: 16px;
}

/* CTA Section */
.cta-container {
    width: 100%;
    height: 70px;
    background-color: #D9D9D9;
    margin: 20px auto;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button.btn {
    background-color: #DEDEDE;
    border: 3px solid #386D44;
    color: #000000;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px; 
    font-size: 16px;      
    transition: 0.3s;     
}
button.btn:hover {
    background-color: #386D44;
    color: #ffffff;
}

/* Dashboard Cards */
.dashboard {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;
}

.card {
    background-color: #D9D9D9;
    width: 220px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
    text-align: center;
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    font-size: 24px;
    font-weight: bold;
}

/* Services Section */
.services {
    width: 60%;
    margin: 40px auto;
    background-color: #D9D9D9;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
    text-align: center;
}

.services-table {
    margin: 20px auto; 
    border-collapse: collapse;
    font-size: 16px;
    text-align: center;
}

.services-table td {
    padding: 12px 24px;
    color: #000000;
    font-weight: 300; 
    border: none; 
}

/* Optional: hover effect */
.services-table td:hover {
    color: #57A469;
    cursor: default;
    transition: 0.3s;
}



/* Footer */
.footer {
    background-color: #D9D9D9;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    box-shadow: 0 -4px 8px rgba(0,0,0,0.2);
}
